.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  border: none;
  opacity: 40%;
  background-image: url(../images/close_btn2.svg);
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.1;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.4);
  margin: 8px 0 0;
  padding: 16px 12px;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
}

.modal__save-btn {
  max-width: 156px;
  width: 100%;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  color: rgba(252, 245, 229, 1);
  padding: 18px 58px;
  font-weight: normal;
  line-height: 1;
  font-size: 16px;
}

@media screen and (max-width: 627px) {
  .modal__save-btn {
    max-width: none;
  }
  .modal__title {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .modal__label {
    font-size: 16px;
    padding-bottom: 24px;
  }
  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__container {
    padding: 22px 12px 12px 12px;
  }

  .modal__close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
